Header unset X-Powered-By
ErrorDocument 404 /error/404.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api\/1.0\/hello\/$ /api/1.0/hello.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api\/1.0\/usernameCheck\/$ /api/1.0/usernameCheck.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api\/1.0\/createUser\/$ /api/1.0/createUser.php [L]

